odoo/auto/odoo.conf
odoo/auto/addons/account
odoo/auto/addons/account_analytic_copy
odoo/auto/addons/account_analytic_stage
odoo/auto/addons/account_check_printing
odoo/auto/addons/account_debit_note
odoo/auto/addons/account_due_list
odoo/auto/addons/account_edi
odoo/auto/addons/account_edi_extended
odoo/auto/addons/account_edi_facturx
odoo/auto/addons/account_edi_proxy_client
odoo/auto/addons/account_edi_ubl
odoo/auto/addons/account_edi_ubl_cii
odoo/auto/addons/account_financial_report
odoo/auto/addons/account_fleet
odoo/auto/addons/account_invoice_date_due
odoo/auto/addons/account_invoice_date_due_ats
odoo/auto/addons/account_invoice_merge
odoo/auto/addons/account_invoice_renegotiate
odoo/auto/addons/account_lock
odoo/auto/addons/account_move_line_report_xls
odoo/auto/addons/account_move_service_report
odoo/auto/addons/account_payment
odoo/auto/addons/account_payment_mode
odoo/auto/addons/account_payment_order
odoo/auto/addons/account_payment_partner
odoo/auto/addons/account_payment_purchase
odoo/auto/addons/account_payment_purchase_stock
odoo/auto/addons/account_payment_sale
odoo/auto/addons/account_qr_code_sepa
odoo/auto/addons/account_tax_balance
odoo/auto/addons/account_tax_python
odoo/auto/addons/account_test
odoo/auto/addons/adyen_platforms
odoo/auto/addons/analytic
odoo/auto/addons/association
odoo/auto/addons/attachment_indexation
odoo/auto/addons/auth_ldap
odoo/auto/addons/auth_oauth
odoo/auto/addons/auth_password_policy
odoo/auto/addons/auth_password_policy_portal
odoo/auto/addons/auth_password_policy_signup
odoo/auto/addons/auth_signup
odoo/auto/addons/auth_totp
odoo/auto/addons/auth_totp_portal
odoo/auto/addons/auto_backup
odoo/auto/addons/barcodes
odoo/auto/addons/base_address_city
odoo/auto/addons/base_address_extended
odoo/auto/addons/base_automation
odoo/auto/addons/base_geolocalize
odoo/auto/addons/base_iban
odoo/auto/addons/base_import
odoo/auto/addons/base_import_module
odoo/auto/addons/base_partner_sequence
odoo/auto/addons/base_setup
odoo/auto/addons/base_sparse_field
odoo/auto/addons/base_vat
odoo/auto/addons/board
odoo/auto/addons/bus
odoo/auto/addons/calendar
odoo/auto/addons/calendar_sms
odoo/auto/addons/cash_flow_report
odoo/auto/addons/contacts
odoo/auto/addons/contract
odoo/auto/addons/contract_state
odoo/auto/addons/coupon
odoo/auto/addons/crm
odoo/auto/addons/crm_iap_lead
odoo/auto/addons/crm_iap_lead_enrich
odoo/auto/addons/crm_iap_lead_website
odoo/auto/addons/crm_lead_product
odoo/auto/addons/crm_livechat
odoo/auto/addons/crm_sms
odoo/auto/addons/date_range
odoo/auto/addons/date_range_account
odoo/auto/addons/datetime_formatter
odoo/auto/addons/delivery
odoo/auto/addons/delivery_package_default_shipping_weight
odoo/auto/addons/delivery_procurement_group_carrier
odoo/auto/addons/delivery_total_weight_from_packaging
odoo/auto/addons/digest
odoo/auto/addons/document_page
odoo/auto/addons/document_page_environment_manual
odoo/auto/addons/document_page_environmental_aspect
odoo/auto/addons/document_page_health_safety_manual
odoo/auto/addons/document_page_procedure
odoo/auto/addons/document_page_quality_manual
odoo/auto/addons/document_page_work_instruction
odoo/auto/addons/event
odoo/auto/addons/event_crm
odoo/auto/addons/event_crm_sale
odoo/auto/addons/event_sale
odoo/auto/addons/event_sms
odoo/auto/addons/fetchmail
odoo/auto/addons/fetchmail_gmail
odoo/auto/addons/fetchmail_outlook
odoo/auto/addons/fleet
odoo/auto/addons/gamification
odoo/auto/addons/gamification_sale_crm
odoo/auto/addons/google_account
odoo/auto/addons/google_calendar
odoo/auto/addons/google_drive
odoo/auto/addons/google_gmail
odoo/auto/addons/google_recaptcha
odoo/auto/addons/google_spreadsheet
odoo/auto/addons/helpdesk_mgmt
odoo/auto/addons/hr
odoo/auto/addons/hr_attendance
odoo/auto/addons/hr_contract
odoo/auto/addons/hr_expense
odoo/auto/addons/hr_fleet
odoo/auto/addons/hr_gamification
odoo/auto/addons/hr_holidays
odoo/auto/addons/hr_holidays_attendance
odoo/auto/addons/hr_maintenance
odoo/auto/addons/hr_org_chart
odoo/auto/addons/hr_presence
odoo/auto/addons/hr_recruitment
odoo/auto/addons/hr_recruitment_survey
odoo/auto/addons/hr_skills
odoo/auto/addons/hr_skills_slides
odoo/auto/addons/hr_skills_survey
odoo/auto/addons/hr_timesheet
odoo/auto/addons/hr_timesheet_attendance
odoo/auto/addons/hr_work_entry
odoo/auto/addons/http_routing
odoo/auto/addons/hw_drivers
odoo/auto/addons/hw_escpos
odoo/auto/addons/hw_posbox_homepage
odoo/auto/addons/iap
odoo/auto/addons/iap_crm
odoo/auto/addons/iap_mail
odoo/auto/addons/im_livechat
odoo/auto/addons/im_livechat_mail_bot
odoo/auto/addons/imovel
odoo/auto/addons/importar_planilha
odoo/auto/addons/knowledge
odoo/auto/addons/l10n_account_edi_ubl_cii_tests
odoo/auto/addons/l10n_ae
odoo/auto/addons/l10n_ar
odoo/auto/addons/l10n_ar_website_sale
odoo/auto/addons/l10n_at
odoo/auto/addons/l10n_au
odoo/auto/addons/l10n_be
odoo/auto/addons/l10n_be_edi
odoo/auto/addons/l10n_be_invoice_bba
odoo/auto/addons/l10n_bo
odoo/auto/addons/l10n_br
odoo/auto/addons/l10n_br_account
odoo/auto/addons/l10n_br_account_costs
odoo/auto/addons/l10n_br_account_due_list
odoo/auto/addons/l10n_br_account_nfe
odoo/auto/addons/l10n_br_account_nfe_di
odoo/auto/addons/l10n_br_account_payment_brcobranca
odoo/auto/addons/l10n_br_account_payment_order
odoo/auto/addons/l10n_br_base
odoo/auto/addons/l10n_br_cnab_structure
odoo/auto/addons/l10n_br_coa
odoo/auto/addons/l10n_br_coa_generic
odoo/auto/addons/l10n_br_coa_simple
odoo/auto/addons/l10n_br_contract
odoo/auto/addons/l10n_br_crm
odoo/auto/addons/l10n_br_currency_rate_update
odoo/auto/addons/l10n_br_delivery
odoo/auto/addons/l10n_br_delivery_nfe
odoo/auto/addons/l10n_br_fiscal
odoo/auto/addons/l10n_br_fiscal_closing
odoo/auto/addons/l10n_br_hr
odoo/auto/addons/l10n_br_mis_report
odoo/auto/addons/l10n_br_nfe
odoo/auto/addons/l10n_br_nfe_danfe
odoo/auto/addons/l10n_br_nfe_spec
odoo/auto/addons/l10n_br_nfse
odoo/auto/addons/l10n_br_portal
odoo/auto/addons/l10n_br_pos
odoo/auto/addons/l10n_br_pos_cfe
odoo/auto/addons/l10n_br_purchase
odoo/auto/addons/l10n_br_purchase_request
odoo/auto/addons/l10n_br_purchase_stock
odoo/auto/addons/l10n_br_repair
odoo/auto/addons/l10n_br_resource
odoo/auto/addons/l10n_br_sale
odoo/auto/addons/l10n_br_sale_invoice_plan
odoo/auto/addons/l10n_br_sale_parent_id
odoo/auto/addons/l10n_br_sale_stock
odoo/auto/addons/l10n_br_sped_efd_icms_ipi
odoo/auto/addons/l10n_br_stock
odoo/auto/addons/l10n_br_stock_account
odoo/auto/addons/l10n_br_website_sale
odoo/auto/addons/l10n_br_website_sale_delivery
odoo/auto/addons/l10n_br_zip
odoo/auto/addons/l10n_ca
odoo/auto/addons/l10n_ch
odoo/auto/addons/l10n_ch_qriban
odoo/auto/addons/l10n_cl
odoo/auto/addons/l10n_cn
odoo/auto/addons/l10n_cn_city
odoo/auto/addons/l10n_co
odoo/auto/addons/l10n_co_pos
odoo/auto/addons/l10n_cr
odoo/auto/addons/l10n_cz
odoo/auto/addons/l10n_de
odoo/auto/addons/l10n_de_purchase
odoo/auto/addons/l10n_de_repair
odoo/auto/addons/l10n_de_sale
odoo/auto/addons/l10n_de_skr03
odoo/auto/addons/l10n_de_skr04
odoo/auto/addons/l10n_de_stock
odoo/auto/addons/l10n_dk
odoo/auto/addons/l10n_do
odoo/auto/addons/l10n_dz
odoo/auto/addons/l10n_ec
odoo/auto/addons/l10n_es
odoo/auto/addons/l10n_es_edi_sii
odoo/auto/addons/l10n_et
odoo/auto/addons/l10n_eu_service
odoo/auto/addons/l10n_fi
odoo/auto/addons/l10n_fi_sale
odoo/auto/addons/l10n_fr
odoo/auto/addons/l10n_fr_facturx_chorus_pro
odoo/auto/addons/l10n_fr_fec
odoo/auto/addons/l10n_fr_pos_cert
odoo/auto/addons/l10n_gcc_invoice
odoo/auto/addons/l10n_gcc_pos
odoo/auto/addons/l10n_generic_coa
odoo/auto/addons/l10n_gr
odoo/auto/addons/l10n_gt
odoo/auto/addons/l10n_hk
odoo/auto/addons/l10n_hn
odoo/auto/addons/l10n_hr
odoo/auto/addons/l10n_hu
odoo/auto/addons/l10n_id
odoo/auto/addons/l10n_id_efaktur
odoo/auto/addons/l10n_ie
odoo/auto/addons/l10n_il
odoo/auto/addons/l10n_in
odoo/auto/addons/l10n_in_pos
odoo/auto/addons/l10n_in_purchase
odoo/auto/addons/l10n_in_purchase_stock
odoo/auto/addons/l10n_in_sale
odoo/auto/addons/l10n_in_sale_stock
odoo/auto/addons/l10n_in_stock
odoo/auto/addons/l10n_it
odoo/auto/addons/l10n_it_edi
odoo/auto/addons/l10n_it_edi_sdicoop
odoo/auto/addons/l10n_it_stock_ddt
odoo/auto/addons/l10n_jp
odoo/auto/addons/l10n_latam_base
odoo/auto/addons/l10n_latam_invoice_document
odoo/auto/addons/l10n_lt
odoo/auto/addons/l10n_lu
odoo/auto/addons/l10n_lu_peppol_id
odoo/auto/addons/l10n_ma
odoo/auto/addons/l10n_mn
odoo/auto/addons/l10n_multilang
odoo/auto/addons/l10n_mx
odoo/auto/addons/l10n_nl
odoo/auto/addons/l10n_no
odoo/auto/addons/l10n_nz
odoo/auto/addons/l10n_pa
odoo/auto/addons/l10n_pe
odoo/auto/addons/l10n_ph
odoo/auto/addons/l10n_pl
odoo/auto/addons/l10n_pt
odoo/auto/addons/l10n_ro
odoo/auto/addons/l10n_sa
odoo/auto/addons/l10n_sa_invoice
odoo/auto/addons/l10n_sa_pos
odoo/auto/addons/l10n_se
odoo/auto/addons/l10n_se_ocr
odoo/auto/addons/l10n_sg
odoo/auto/addons/l10n_si
odoo/auto/addons/l10n_sk
odoo/auto/addons/l10n_syscohada
odoo/auto/addons/l10n_th
odoo/auto/addons/l10n_tr
odoo/auto/addons/l10n_ua
odoo/auto/addons/l10n_uk
odoo/auto/addons/l10n_us
odoo/auto/addons/l10n_uy
odoo/auto/addons/l10n_ve
odoo/auto/addons/l10n_vn
odoo/auto/addons/l10n_za
odoo/auto/addons/link_tracker
odoo/auto/addons/lunch
odoo/auto/addons/mail
odoo/auto/addons/mail_attach_existing_attachment
odoo/auto/addons/mail_attach_existing_attachment_account
odoo/auto/addons/mail_bot
odoo/auto/addons/mail_bot_hr
odoo/auto/addons/mail_client_extension
odoo/auto/addons/mail_invoice_cron
odoo/auto/addons/maintenance
odoo/auto/addons/maintenance_material
odoo/auto/addons/maintenance_picking
odoo/auto/addons/maintenance_product
odoo/auto/addons/mass_mailing
odoo/auto/addons/mass_mailing_crm
odoo/auto/addons/mass_mailing_event
odoo/auto/addons/mass_mailing_event_sms
odoo/auto/addons/mass_mailing_event_track
odoo/auto/addons/mass_mailing_event_track_sms
odoo/auto/addons/mass_mailing_sale
odoo/auto/addons/mass_mailing_slides
odoo/auto/addons/mass_mailing_sms
odoo/auto/addons/membership
odoo/auto/addons/mgmtsystem
odoo/auto/addons/mgmtsystem_action
odoo/auto/addons/mgmtsystem_action_efficacy
odoo/auto/addons/mgmtsystem_action_template
odoo/auto/addons/mgmtsystem_audit
odoo/auto/addons/mgmtsystem_claim
odoo/auto/addons/mgmtsystem_environment
odoo/auto/addons/mgmtsystem_hazard
odoo/auto/addons/mgmtsystem_hazard_risk
odoo/auto/addons/mgmtsystem_health_safety
odoo/auto/addons/mgmtsystem_info_security_manual
odoo/auto/addons/mgmtsystem_manual
odoo/auto/addons/mgmtsystem_nonconformity
odoo/auto/addons/mgmtsystem_nonconformity_hr
odoo/auto/addons/mgmtsystem_nonconformity_mrp
odoo/auto/addons/mgmtsystem_nonconformity_product
odoo/auto/addons/mgmtsystem_nonconformity_quality_control_oca
odoo/auto/addons/mgmtsystem_nonconformity_repair
odoo/auto/addons/mgmtsystem_nonconformity_type
odoo/auto/addons/mgmtsystem_partner
odoo/auto/addons/mgmtsystem_quality
odoo/auto/addons/mgmtsystem_review
odoo/auto/addons/mgmtsystem_survey
odoo/auto/addons/microsoft_account
odoo/auto/addons/microsoft_calendar
odoo/auto/addons/microsoft_outlook
odoo/auto/addons/mis_builder
odoo/auto/addons/mis_builder_budget
odoo/auto/addons/mis_builder_cash_flow
odoo/auto/addons/mis_builder_demo
odoo/auto/addons/mis_template_financial_report
odoo/auto/addons/mrp
odoo/auto/addons/mrp_account
odoo/auto/addons/mrp_landed_costs
odoo/auto/addons/mrp_product_expiry
odoo/auto/addons/mrp_subcontracting
odoo/auto/addons/mrp_subcontracting_account
odoo/auto/addons/mrp_subcontracting_dropshipping
odoo/auto/addons/nfe_purchase_import
odoo/auto/addons/note
odoo/auto/addons/note_pad
odoo/auto/addons/odoo_referral
odoo/auto/addons/pad
odoo/auto/addons/pad_project
odoo/auto/addons/partner_autocomplete
odoo/auto/addons/partner_contact_birthdate
odoo/auto/addons/partner_contact_birthplace
odoo/auto/addons/partner_contact_gender
odoo/auto/addons/partner_statement
odoo/auto/addons/payment
odoo/auto/addons/payment_account_move_line
odoo/auto/addons/payment_adyen
odoo/auto/addons/payment_adyen_paybylink
odoo/auto/addons/payment_alipay
odoo/auto/addons/payment_authorize
odoo/auto/addons/payment_buckaroo
odoo/auto/addons/payment_fix_register_token
odoo/auto/addons/payment_ingenico
odoo/auto/addons/payment_odoo_by_adyen
odoo/auto/addons/payment_pagseguro
odoo/auto/addons/payment_paypal
odoo/auto/addons/payment_payulatam
odoo/auto/addons/payment_payumoney
odoo/auto/addons/payment_sips
odoo/auto/addons/payment_stripe
odoo/auto/addons/payment_test
odoo/auto/addons/payment_transfer
odoo/auto/addons/pdv_integracao
odoo/auto/addons/phone_validation
odoo/auto/addons/point_of_sale
odoo/auto/addons/portal
odoo/auto/addons/portal_rating
odoo/auto/addons/pos_adyen
odoo/auto/addons/pos_cache
odoo/auto/addons/pos_discount
odoo/auto/addons/pos_epson_printer
odoo/auto/addons/pos_epson_printer_restaurant
odoo/auto/addons/pos_hr
odoo/auto/addons/pos_mercury
odoo/auto/addons/pos_restaurant
odoo/auto/addons/pos_restaurant_adyen
odoo/auto/addons/pos_sale
odoo/auto/addons/pos_six
odoo/auto/addons/procurement_auto_create_group_carrier
odoo/auto/addons/procurement_jit
odoo/auto/addons/product
odoo/auto/addons/product_category_change
odoo/auto/addons/product_code_unique
odoo/auto/addons/product_email_template
odoo/auto/addons/product_expiry
odoo/auto/addons/product_margin
odoo/auto/addons/product_matrix
odoo/auto/addons/product_sale_margin
odoo/auto/addons/product_supplierinfo_for_customer_picking
odoo/auto/addons/product_supplierinfo_picking
odoo/auto/addons/project
odoo/auto/addons/project_stage_state
odoo/auto/addons/project_timesheet_holidays
odoo/auto/addons/purchase
odoo/auto/addons/purchase_mrp
odoo/auto/addons/purchase_product_matrix
odoo/auto/addons/purchase_requisition
odoo/auto/addons/purchase_requisition_stock
odoo/auto/addons/purchase_sale_price
odoo/auto/addons/purchase_stock
odoo/auto/addons/purchase_stock_picking_invoice_link
odoo/auto/addons/rating
odoo/auto/addons/repair
odoo/auto/addons/repair_vehicle
odoo/auto/addons/report_lk
odoo/auto/addons/report_locefaca
odoo/auto/addons/report_py3o
odoo/auto/addons/report_xlsx
odoo/auto/addons/resource
odoo/auto/addons/sale
odoo/auto/addons/sale_coupon
odoo/auto/addons/sale_coupon_delivery
odoo/auto/addons/sale_crm
odoo/auto/addons/sale_expense
odoo/auto/addons/sale_line_returned_qty
odoo/auto/addons/sale_line_returned_qty_mrp
odoo/auto/addons/sale_management
odoo/auto/addons/sale_margin
odoo/auto/addons/sale_mrp
odoo/auto/addons/sale_mrp_margin
odoo/auto/addons/sale_order_global_stock_route
odoo/auto/addons/sale_order_partner_restrict
odoo/auto/addons/sale_order_value_extensive
odoo/auto/addons/sale_product_configurator
odoo/auto/addons/sale_product_matrix
odoo/auto/addons/sale_project
odoo/auto/addons/sale_purchase
odoo/auto/addons/sale_purchase_stock
odoo/auto/addons/sale_quotation_builder
odoo/auto/addons/sale_stock
odoo/auto/addons/sale_stock_margin
odoo/auto/addons/sale_stock_mto_as_mts_orderpoint
odoo/auto/addons/sale_timesheet
odoo/auto/addons/sale_timesheet_edit
odoo/auto/addons/sale_timesheet_purchase
odoo/auto/addons/sales_team
odoo/auto/addons/sms
odoo/auto/addons/snailmail
odoo/auto/addons/snailmail_account
odoo/auto/addons/social_media
odoo/auto/addons/spec_driven_model
odoo/auto/addons/stock
odoo/auto/addons/stock_account
odoo/auto/addons/stock_account_product_run_fifo_hook
odoo/auto/addons/stock_auto_move
odoo/auto/addons/stock_dangerous_goods
odoo/auto/addons/stock_delivery_note
odoo/auto/addons/stock_dropshipping
odoo/auto/addons/stock_landed_costs
odoo/auto/addons/stock_landed_costs_mrp_subcontracting
odoo/auto/addons/stock_lock_lot
odoo/auto/addons/stock_lot_on_hand_first
odoo/auto/addons/stock_lot_product_qty_search
odoo/auto/addons/stock_lot_production_date
odoo/auto/addons/stock_lot_scrap
odoo/auto/addons/stock_mass_scrap
odoo/auto/addons/stock_move_assign_picking_hook
odoo/auto/addons/stock_move_change_source_location
odoo/auto/addons/stock_move_forced_lot
odoo/auto/addons/stock_move_line_auto_fill
odoo/auto/addons/stock_move_quick_lot
odoo/auto/addons/stock_no_negative
odoo/auto/addons/stock_owner_restriction
odoo/auto/addons/stock_partner_delivery_window
odoo/auto/addons/stock_picking_auto_create_lot
odoo/auto/addons/stock_picking_back2draft
odoo/auto/addons/stock_picking_backorder_strategy
odoo/auto/addons/stock_picking_batch
odoo/auto/addons/stock_picking_batch_extended
odoo/auto/addons/stock_picking_cancel_reason
odoo/auto/addons/stock_picking_default_planned_transfer
odoo/auto/addons/stock_picking_filter_lot
odoo/auto/addons/stock_picking_group_by_partner_by_carrier
odoo/auto/addons/stock_picking_group_by_partner_by_carrier_by_date
odoo/auto/addons/stock_picking_import_serial_number
odoo/auto/addons/stock_picking_invoice_link
odoo/auto/addons/stock_picking_line_sequence
odoo/auto/addons/stock_picking_maintenance
odoo/auto/addons/stock_picking_mass_action
odoo/auto/addons/stock_picking_product_link
odoo/auto/addons/stock_picking_progress
odoo/auto/addons/stock_picking_purchase_order_link
odoo/auto/addons/stock_picking_quick
odoo/auto/addons/stock_picking_restrict_cancel_with_orig_move
odoo/auto/addons/stock_picking_return_lot
odoo/auto/addons/stock_picking_return_show_lot
odoo/auto/addons/stock_picking_sale_order_link
odoo/auto/addons/stock_picking_send_by_mail
odoo/auto/addons/stock_picking_show_backorder
odoo/auto/addons/stock_picking_show_return
odoo/auto/addons/stock_picking_supplier_ref
odoo/auto/addons/stock_picking_tier_validation
odoo/auto/addons/stock_picking_warn_message
odoo/auto/addons/stock_production_lot_active
odoo/auto/addons/stock_push_delay
odoo/auto/addons/stock_putaway_by_route
odoo/auto/addons/stock_putaway_hook
odoo/auto/addons/stock_quant_package_dimension
odoo/auto/addons/stock_quant_package_dimension_total_weight_from_packaging
odoo/auto/addons/stock_quant_package_product_packaging
odoo/auto/addons/stock_restrict_lot
odoo/auto/addons/stock_return_request
odoo/auto/addons/stock_scheduler_assignation_horizon
odoo/auto/addons/stock_sms
odoo/auto/addons/stock_split_picking
odoo/auto/addons/stock_valuation_layer_by_category
odoo/auto/addons/stock_valuation_layer_usage
odoo/auto/addons/stock_valuation_no_developer_mode
odoo/auto/addons/survey
odoo/auto/addons/test_base_automation
odoo/auto/addons/test_event_full
odoo/auto/addons/test_mail
odoo/auto/addons/test_mail_full
odoo/auto/addons/test_mass_mailing
odoo/auto/addons/test_website
odoo/auto/addons/test_website_slides_full
odoo/auto/addons/test_xlsx_export
odoo/auto/addons/theme_default
odoo/auto/addons/transifex
odoo/auto/addons/uom
odoo/auto/addons/utm
odoo/auto/addons/web
odoo/auto/addons/web_advanced_search
odoo/auto/addons/web_editor
odoo/auto/addons/web_kanban_gauge
odoo/auto/addons/web_responsive
odoo/auto/addons/web_tour
odoo/auto/addons/web_unsplash
odoo/auto/addons/web_widget_x2many_2d_matrix
odoo/auto/addons/website
odoo/auto/addons/website_blog
odoo/auto/addons/website_crm
odoo/auto/addons/website_crm_livechat
odoo/auto/addons/website_crm_partner_assign
odoo/auto/addons/website_crm_sms
odoo/auto/addons/website_customer
odoo/auto/addons/website_event
odoo/auto/addons/website_event_crm
odoo/auto/addons/website_event_crm_questions
odoo/auto/addons/website_event_meet
odoo/auto/addons/website_event_meet_quiz
odoo/auto/addons/website_event_questions
odoo/auto/addons/website_event_sale
odoo/auto/addons/website_event_track
odoo/auto/addons/website_event_track_exhibitor
odoo/auto/addons/website_event_track_live
odoo/auto/addons/website_event_track_live_quiz
odoo/auto/addons/website_event_track_quiz
odoo/auto/addons/website_form
odoo/auto/addons/website_form_project
odoo/auto/addons/website_forum
odoo/auto/addons/website_google_map
odoo/auto/addons/website_hr_recruitment
odoo/auto/addons/website_jitsi
odoo/auto/addons/website_links
odoo/auto/addons/website_livechat
odoo/auto/addons/website_mail
odoo/auto/addons/website_mail_channel
odoo/auto/addons/website_mass_mailing
odoo/auto/addons/website_membership
odoo/auto/addons/website_partner
odoo/auto/addons/website_payment
odoo/auto/addons/website_profile
odoo/auto/addons/website_sale
odoo/auto/addons/website_sale_comparison
odoo/auto/addons/website_sale_coupon
odoo/auto/addons/website_sale_coupon_delivery
odoo/auto/addons/website_sale_delivery
odoo/auto/addons/website_sale_digital
odoo/auto/addons/website_sale_management
odoo/auto/addons/website_sale_product_configurator
odoo/auto/addons/website_sale_slides
odoo/auto/addons/website_sale_stock
odoo/auto/addons/website_sale_stock_product_configurator
odoo/auto/addons/website_sale_wishlist
odoo/auto/addons/website_slides
odoo/auto/addons/website_slides_forum
odoo/auto/addons/website_slides_survey
odoo/auto/addons/website_sms
odoo/auto/addons/website_twitter
odoo/auto/odoo.conf
doodba.doodba_b.code-workspace
